.content
  .content__head
    .pika1
      = render "layouts/pikatyu"
    .title
      = @name
      さんの投稿の一覧
  .content__post
    - @articles.each do |article|
      = render partial: "articles/article", locals: { article: article }
  = paginate(@articles)