#JS {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content {
  h4 {
    font-size: 40px;
    font-weight: bold;
    border-top: solid 3px crimson;
    border-bottom: solid 3px crimson;
  }
  &__post {
    padding: 10px;
    &__name {
      position: absolute;
    }
    &__text {
      height: 250px;
      padding: 10px 0 0 20px;
      margin-bottom: 20px;
      border: solid 2px blue;
      display: flex;
      position: relative;
      .more {
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 30px;
        &__info {
          &__list {
            position: relative;
            padding: 0;
            list-style-type: none;
            overflow: visible;
          }
          &__list li {
            padding: 0.5em 0.5em 0.6em 0.5em;
            margin-bottom: 5px;
            line-height: 1.5;
            vertical-align: middle;
            background: #f1c6c6;
            border-radius: 20px 0px 0px 20px;
            color: #ffffff;
          }
          &__list li::before {
            display:inline-block;
            vertical-align: middle;
            content:'';
            margin-right: 8px;
            width:1em;
            height: 1em;
            background: #fff;
            border-radius: 50%;
          }
        }
      }
    }
  }
  &__comments {
    padding: 30px;
    margin: 10px;
    border: solid 3px lightblue;
    .new {
      &__text {
        height: 80px;
        width: 100%;
      }
      &__buttan {
        margin-top: 20px;
        height: 40px;
        width: 100%;
        background-color: coral;
        border-radius: 12px;
      }
    }
    .show {
      padding: 50px 10px 10px 10px;
      font-weight: bold;
      &__comments {
        margin-top: 20px;
        .box {
          padding: 8px 0;
          display: flex;
          &__name {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.form {
  background: image-url('1427992.png');
  height: 100vh;
  background-color: lightgreen;
  padding: 40px 10vw;
  &__content {
    background-color: lightyellow;
    border: solid 1px lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 80px;
    h2 {
      color: crimson;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }
    input {
      width: 70vw;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      text-align: center;
    }
    #limit {
      width: 100%;
      margin-bottom: 40px;
    }
    &__buttan {
      width: 100%;
      background-color: coral;
      padding-left: 47%;
      margin: auto;
      border-radius: 12px;
    }
  }
}

.results {
  h3 {
    font-size: 30px;
  }
  &__buttan {
    font-size: 30px;
  }
}

.search {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  &__damage {
    height: 40px;
    width: 20vw;
    background-color: lightskyblue;
    border: solid 2px yellowgreen;
    border-radius: 24px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
  }
  &__form {
    &__input {
      height: 40px;
      width: 20vw;
      text-align: center;
      border-radius: 24px;
    }
    &__btn {
      color: gray;
      height: 40px;
      width: 60px;
      background-color: lightskyblue;
      border-radius: 24px;
    }
  }
}